<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Total Salaries by Brigade</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Total Salaries by Brigade</h1>
    <p>Total salaries: <span th:text="${count}">0</span></p>
    <a class="btn btn-secondary" th:href="@{/system/info/worker/all}">Back to List</a>
</div>
</body>
</html>
