<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brigade Detail</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Brigade Detail</h1>
    <div th:if="${brigade}">
        <p><strong>ID:</strong> <span th:text="${brigade.id}"></span></p>
        <p><strong>Department:</strong> <span th:text="${brigade.department.name}"></span></p>
        <p><strong>Type:</strong> <span th:text="${brigade.type.type}"></span></p>
        <h3 class="my-4">Workers</h3>
        <ul class="list-group">
            <li class="list-group-item" th:each="worker : ${brigade.workers}" th:text="${worker.firstName + ' ' + worker.lastName}"></li>
        </ul>
    </div>
    <a class="btn btn-secondary mt-4" href="/system/info/brigade/all">Back to List</a>
</div>
</body>
</html>
