<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Queries</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Queries</h1>
    <div class="list-group">
        <div class="mb-3">
            <h4>Brigade</h4>
            <a href="/system/info/brigade/all" class="btn btn-dark">All Brigades</a>
        </div>
        <div class="mb-3">
            <h4>Department</h4>
            <a href="/system/info/department/all" class="btn btn-dark">All Departments</a>
            <a href="/system/info/department/queries" class="btn btn-dark">Department Queries</a>
        </div>
        <div class="mb-3">
            <h4>Driver</h4>
            <a href="/system/info/driver/all" class="btn btn-dark">All Drivers</a>
            <a href="/system/info/driver/queries" class="btn btn-dark">Driver Queries</a>
        </div>
        <div class="mb-3">
            <h4>Locomotive</h4>
            <a href="/system/info/locomotive/all" class="btn btn-dark">All Locomotives</a>
            <a href="/system/info/locomotive/queries" class="btn btn-dark">Locomotive Queries</a>
        </div>
        <div class="mb-3">
            <h4>Maintenance</h4>
            <a href="/system/info/maintenance/all" class="btn btn-dark">All Maintenance</a>
            <a href="/system/info/maintenance/queries" class="btn btn-dark">Maintenance Queries</a>
        </div>
        <div class="mb-3">
            <h4>Passenger</h4>
            <a href="/system/info/passenger/all" class="btn btn-dark">All Passengers</a>
            <a href="/system/info/passenger/queries" class="btn btn-dark">Passenger Queries</a>
        </div>
        <div class="mb-3">
            <h4>Railway Station</h4>
            <a href="/system/info/station/all" class="btn btn-dark">All Railway Stations</a>
            <a href="/system/info/station/queries" class="btn btn-dark">Railway Station Queries</a>
        </div>
        <div class="mb-3">
            <h4>Route</h4>
            <a href="/system/info/route/all" class="btn btn-dark">All Routes</a>
            <a href="/system/info/route/queries" class="btn btn-dark">Route Queries</a>
        </div>
        <div class="mb-3">
            <h4>Schedule</h4>
            <a href="/system/info/schedule/all" class="btn btn-dark">All Schedules</a>
            <a href="/system/info/schedule/queries" class="btn btn-dark">Schedule Queries</a>
        </div>
        <div class="mb-3">
            <h4>Ticket</h4>
            <a href="/system/info/ticket/all" class="btn btn-dark">All Tickets</a>
            <a href="/system/info/ticket/queries" class="btn btn-dark">Ticket Queries</a>
        </div>
        <div class="mb-3">
            <h4>Worker</h4>
            <a href="/system/info/worker/all" class="btn btn-dark">All Workers</a>
            <a href="/system/info/worker/queries" class="btn btn-dark">Worker Queries</a>
        </div>
    </div>
</div>
</body>
</html>
