<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maintenance Count by Date Repaired</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Maintenance Count by Date Repaired</h1>
    <p class="lead">Count: <span th:text="${count}"></span></p>
    <a href="/system/info/maintenance/all" class="btn btn-primary">Back to List</a>
</div>
</body>
</html>
