<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maintenance List by Date Repaired</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Maintenance List by Date Repaired</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Locomotive ID</th>
            <th>Date</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="maintenance : ${maintenances}">
            <td th:text="${maintenance.id}"></td>
            <td th:text="${maintenance.locomotive.id}"></td>
            <td th:text="${#temporals.format(maintenance.maintenanceDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${maintenance.maintenanceType}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/system/info/maintenance/all" class="btn btn-primary">Back to List</a>
</div>
</body>
</html>
