<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Maintenance</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Update Maintenance</h1>
    <form th:action="@{/system/info/maintenance/update/{id}(id=${maintenance.id})}" th:object="${maintenance}" method="post">
        <div class="form-group">
            <label for="locomotive">Locomotive ID:</label>
            <input type="number" id="locomotive" th:field="*{locomotive.id}" class="form-control" readonly/>
        </div>
        <div class="form-group">
            <label for="maintenanceDate">Date:</label>
            <input type="datetime-local" id="maintenanceDate" th:field="*{maintenanceDate}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="maintenanceType">Type:</label>
            <input type="text" id="maintenanceType" th:field="*{maintenanceType}" class="form-control" required/>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <a href="/system/info/maintenance/all" class="btn btn-secondary mt-3">Back to List</a>
</div>
</body>
</html>
