<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locomotives by Ticket Price and Route</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Locomotives by Ticket Price and Route</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Manufacture Date</th>
            <th>Tickets Count</th>
            <th>Brigade ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="locomotive : ${locomotives}">
            <td th:text="${locomotive.id}"></td>
            <td th:text="${locomotive.name}"></td>
            <td th:text="${locomotive.manufactureDate}"></td>
            <td th:text="${locomotive.ticketsCount}"></td>
            <td th:text="${locomotive.brigade.id}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
