<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Returned Tickets by Route</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Returned Tickets by Route</h1>
    <a class="btn btn-secondary mb-3" th:href="@{/system/info/schedule/all}">Back to List</a>
    <p>Total Returned Tickets: <span th:text="${count}"></span></p>
</div>
</body>
</html>
