<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passenger Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Passenger Details</h1>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" th:value="${passenger.firstName}" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" th:value="${passenger.lastName}" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label for="passport">Passport</label>
        <input type="text" id="passport" th:value="${passenger.passport}" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" id="gender" th:value="${passenger.gender}" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" id="age" th:value="${passenger.age}" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label for="baggage">Baggage</label>
        <input type="text" id="baggage" th:value="${passenger.baggage ? 'Yes' : 'No'}" class="form-control" readonly>
    </div>
    <div class="form-actions">
        <a class="btn btn-secondary" th:href="@{/system/info/passenger/all}">Back to List</a>
    </div>
</div>
</body>
</html>
