<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Count Tickets by Price and Destination</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Count Tickets by Price and Destination</h1>
    <p>Total Tickets: <span th:text="${count}"></span></p>
    <a href="/system/info/ticket/all" class="btn btn-secondary mt-3">Back to List</a>
</div>
</body>
</html>
