<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator count</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Administrator count</h1>
    <p>Total number of administrators: <span th:text="${count}">0</span></p>
    <a class="btn btn-secondary" th:href="@{/system/info/department/all}">Back to List</a>
</div>
</body>
</html>
