<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department Detail</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Department Details</h1>
    <p><strong>ID:</strong> <span th:text="${department.id}"></span></p>
    <p><strong>Name:</strong> <span th:text="${department.name}"></span></p>
    <p><strong>Administrator:</strong> <span th:text="${department.worker.firstName + ' ' + department.worker.lastName}"></span></p>
    <a class="btn btn-secondary" th:href="@{/system/info/department/all}">Back to List</a>
</div>
</body>
</html>
