<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Departments List</h1>
    <a class="btn btn-primary" th:href="@{/system/info/department/create}">Create New Department</a>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Administrator</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:text="${department.name}"></td>
            <td th:text="${department.worker.firstName + ' ' + department.worker.lastName}"></td>
            <td>
                <a class="btn btn-info" th:href="@{/system/info/department/{id}(id=${department.id})}">View</a>
                <a class="btn btn-warning" th:href="@{/system/info/department/update/{id}(id=${department.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/system/info/department/delete/{id}(id=${department.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="mt-3">
        <a href="/system/info/department/queries" class="btn btn-dark">Return to Queries</a>
        <a href="/system/info" class="btn btn-dark ml-2">Back to System Info</a>
    </div>
</div>
</body>
</html>
